* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

body {
  background-color: #ffffff;
  color: black;
}
/*--------------------------
 header section start
 -------------------------- */
header {
  margin: 0;
}

.row {
  margin: 0;
  padding: 10px 2px;
}
.row > .logo-section {
  margin: 0;
  padding: 0;
}
.row > .logo-section > img {
  width: 70px;
  margin: 0;
  padding: 0;
}
.row > .navbar-section > ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.row > .navbar-section > ul > li {
  list-style: none;
}
.row > .navbar-section > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-left: 10px;
  padding: 8px 20px;
  box-shadow: 5px 5px 20px #dfe4ed, -5px -5px 20px #ffffff;
  /* box-shadow: 5px -5px 20px rgb(167 158 245 / 20%); */
  border-radius: 2px;
  background-color: linear-gradient(145deg, #e2e8ec, #ffffff);
}
.row > .navbar-section > ul > li > a:hover {
  background-color: #848400;
  color: white !important;
  position: relative;
  top: -5px;
  transition: 0.2s all;
  /* transition: 0.3s; */
}

/* mobile menu  */
.mobile-menu {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  display: none;
}
.mobile-menu > span,
.mobile-menu > .closeButton {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  padding:0;
  text-decoration: none;
}
.mobile-menu > span:active,
.mobile-menu > span:hover {
  transition: 0.2s all;
  cursor: pointer;
}
.overlay {
  text-align: right;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.968);
  z-index: 1000;
  overflow-x: hidden;
}
.overlay > .closeButton {
  font-size: 45px;
  text-decoration: none;
  color: black;
  padding: 2px 30px;
}
.overlay-content {
  position: relative;
  top: 20%;
  left: 0;
}
.overlay-content a {
  padding: 10px 0;
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  /* background-color: #0fbcf9; */
  border-bottom: 1px solid #ddd;
}
.overlay-content a:last-child {
  border-bottom: 0;
}
.overlay-content a:hover {
  background-color: #848400;
  color: white;
  transition: 0.2s all;
}

/*--------------------------
 header section End
 -------------------------- */
/*--------------------------
 header body section start
 -------------------------- */
.header-body {
  padding: 2% 0;
}

.header-body > .row > .header-text {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center !important;
  height: auto;
}
.header-body > .row > .header-text > h1 {
  margin-bottom: 0;
}
.typing {
  height: 2.1rem;
  font-size: 1.9rem;
  margin-bottom: 4%;
  font-weight: 600;
}

.header-body > .row > .header-text > p {
  text-align: justify;
  padding-right: 10px;
  color: black;
  font-family: cursive;
  font-size: 1rem;
  background-color: transparent;
}
.header-body > .row > .header-text a {
  display: inline-block !important;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 8px;
  width: 120px;
  box-shadow: 5px 5px 15px #dfe4ed, -5px -5px 15px #ffffff;
  border-radius: 2px;
  background-color: linear-gradient(145deg, #e2e8ec, #ffffff);
  border: 2px solid black;
}

.header-body > .row > .header-text > .social-icon {
  margin-top: 5%;
}
.header-body > .row > .header-text > .social-icon > .social {
  margin-right: 10px;
  border: 0;
}
.header-body > .row > .header-text > .social-icon > .social:last-child {
  margin-right: 0;
}
.header-body > .row > .header-text > .social-icon > .social:hover {
  position: relative;
  background-color: #848400;
  color: white !important;
  position: relative;
  top: -5px;
  transition: 0.2s all;
}
.header-image {
  height: 400px;
  padding: 0;
  text-align: center;
}
.header-image > img {
  display: inline-block;
  width: 70%;
  margin: 0;
  padding: 0;
  background-image: url(../assets/image/blue-frames.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: scale(1.3);
}

/*--------------------------
 header body section End
 -------------------------- */
.about-section,
.contact-section {
  display: block;
  padding: 10px 0;
  /* background-color: antiquewhite; */
  box-sizing: border-box;
  box-shadow: 5px -5px 50px rgb(167 158 245 / 20%);
}
/* .about-section > .row {
  background-color: #6d4dff;
} */
.about-section > .row > h2,
.contact-section > h2 {
  border-bottom: 1px solid #dddd;
  padding-top: 2%;
  margin: 0;
}
.about-section > .row > .col > img {
  margin: 0;
  padding: 0;
  width: 90%;
  transform: scale(1.2);
}
.about-section > .row > .col > h2 {
  padding: 0;
  margin: 0;
  line-height: 20px;
}
.about-section > .row > .col > .underline,
.contact-section > .row > .col > form > .underline {
  display: inline-block;
  background-color: #c7c700;
  height: 2px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.about-section > .row > .col > p {
  margin: 0;
  padding: 0;
  text-align: justify;
}
.about-section > .row > .col > h3 {
  display: inline-block;
  text-decoration: underline;
  font-size: 1.2rem;
  margin: 5px 0 0 0;
  padding: 5px 0 5px 0;
}
.about-section > .row > .col > .skill-name {
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.skill-name > li {
  display: inline;
  padding: 0;
  padding-right: 7px;
  line-height: 0;
  list-style-type: disc !important;
  margin: 0;
}
.skill-name > li::before {
  content: "â—";
  color: #848400;
  margin-right: 5px;
}
/*--------------------------
------- Contact section start-----
----------------------------------- */
/* input,
textarea {
  outline: 0;
  border: 5px solid navy;
  margin-bottom: 3% !important;
} */
.contact-section form > p {
  text-align: justify;
}
.form-control {
  margin-bottom: 3% !important;
  outline: 2px solid #848400 !important;
  border: 0;
}
.form-control:focus {
  outline: 2px solid #848400 !important;
  border: 0;
}
.contact-section form > h2 {
  margin: 0;
  line-height: 20px;
  padding: 0;
}
.contact-section form > button {
  border: 2px solid #848400 !important;
}
.contact-section form > button:hover {
  border: 2px solid #848400 !important;
  background-color: #c7c700;
  transition: 0.2s all;
}
img.contact-svg {
  width: 100%;
  margin-top: 2%;
}

footer {
  padding: 2% 0;
}
footer > h4 {
  text-transform: capitalize;
  font-size: 1rem;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: #dddd;
}
.sticky > .row {
  position: relative;
  top: 0;
}

.sticky > .row > .logo-section > img {
  width: 40px;
}
.overlay-content > a.primary-btn,
.row > .navbar-section > ul > li > .primary-btn,
.header-body > .row > .header-text > a.primary-btn {
  background-color: navy;
  color: white !important;
  border: 1px solid navy;
}
.overlay-content > a.primary-btn:hover,
.row > .navbar-section > ul > li > .primary-btn:hover,
.header-body > .row > .header-text > a.primary-btn:hover {
  box-shadow: 5px 5px 15px #dfe4ed, -5px -5px 15px #ffffff !important;
  background-color: white;
  color: black !important;
  border: 1px solid black;
  transition: 0.2s all;
}
