@media (max-width: 768px) {
  body {
    padding: 0 5px;
  }
  .navbar-section {
    display: none;
  }
  .row > .col-12 {
    margin-bottom: 5%;
  }
  .row {
    padding: 0 2px;
  }
  .typing {
    font-size: 1.5rem;
    height: 1.8rem;
  }
  .row > .logo-section > img {
    width: 50px;
  }
  .header-image > img {
    transform: scale(1.3);
    margin-top: 2%;
  }
  .header-body > .row > .header-text > p {
    padding: 0;
  }
  .row > .navbar-section {
    display: none;
  }
  .mobile-menu {
    align-self: center !important;
    display: block;
    margin: 0;
    padding: 0;
  }
  .header-body > .row > .header-text > .social-icon > .social:last-child {
    margin-right: 0;
  }
  .contact-section > .row,
  .about-section > .row {
    display: flex;
    flex-direction: column;
  }
  .about-section > .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-section h2 {
    padding: 0 5px 0 5px;
  }
  .footer h4 {
    font-size: 0.7rem;
  }
}
@media (max-width: 320px) {
  .typing {
    font-size: 1.3rem;
  }
  .header-image {
    height: fit-content;
  }
  .about-section {
    padding-top: 0;
    margin: 0;
  }
}
